<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-2">
	<form method="POST" name="employeeCreate">
		<label>First Name: </label><input type="text" name="first_name" class="form-control" ng-model="emp.first_name">
		
		<label>Last_name: </label><input type="text" name="last_name" class="form-control" ng-model="emp.last_name">
		
		<label>Gender: </label> 
		<select name="gender" class="form-control" ng-model="emp.gender">
			<option disabled selected value> -- select an option -- </option>
			<option value="M">Male</option>
			<option value="F">Female</option>
		</select>

		<label>Date of birth</label>
		<input type="text" uib-datepicker ng-model="emp.birth_date" >

		<label>Hire date</label>
		<input type="text" uib-datepicker ng-model="emp.hire_date" >
		
		<input type="submit" name="submit" class="form-control" ng-click="store()">
	
	</form>
</div>