<button class="btn btn-primary" ng-click="redirect('/employees/create')"> Add new employee</button>

<ul class="list-group">
  <a ng-repeat="emp in employees" ng-href="#!/employees/{{emp.emp_no}}"">  
  <li  class="list-group-item">
    {{emp.last_name + ' ' + emp.first_name}}
    <span>, {{ emp.gender | gender }}</span>
  </li>
  </a>
</ul>


<uib-pagination 
  ng-model="currentPage"
  boundary-link-numbers="true"
  ng-change="load()"
  total-items="count"
  max-size="5"  
  boundary-links="true">
</uib-pagination>